:root{
    --background-content: #F6F6F6;
    --blue: #0275D8;
    --gray: #C4C4C4;
    --dark-blue: #0F172A;
}

.section{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-content);
}

.sidebar{
    display: flex;
    flex-direction: column;
    width: 15%;
    padding: 2%;
    background-color: var(--dark-blue);
    /* position: fixed; */
    overflow-x: hidden;
}

.sidebar a{
    display: block;
    color: white;
    padding-bottom: 20%;
}

.sidebar a:hover{
    background-color: #4D5466;
    cursor: pointer;
}

.dropdown{
    display: block;
    text-align: left;
    outline: none;
    text-decoration: none;
    background-color: var(--dark-blue);
    color: var(--gray);
    padding: 5%;
    border: none;
}

.dropdown:hover{
    background-color: #4D5466;
    cursor: pointer;
}

.dropdown-option{
    display: flex;
    align-items: center;
    color: white;
}

.dropdown-container{
    display: none;
    padding: 5%;
    padding-left: 10%;
}

.dropdown-container a{
    padding: 5%;
    padding-left: 10%;
}

.wrapper{
    display: flex;
    flex-direction: column;
    /* height: 90%; */
    width: 80%;
    /* align-self: center;
    margin-left: auto;
    margin-right: auto; */
    margin: auto auto;
    background-color: white;
    border-radius: 50px;

}

.title{
    display: flex;
    color: #0275D8;
    padding: 3%;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 3%;
}

.search{
    /* background-color: #0275D8; */
    justify-content: center;
    align-items: center;
    margin: 0 3%;
}

form input{
    background: var(--background-content);
    width: 100%;
}

.section__table{
    /* align-items: center;
    justify-content: center; */
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 55%;
    /* border: 10% solid #F6F6F6; */
    margin: 10% auto;
    /* border-radius: 20px; */
}

table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    text-align:start;
    justify-content: center;
    vertical-align:middle;
    padding-left: 50px;
}

.section__row:hover{
    background-color: #0275D8;
    color: white;
    cursor: pointer;
}

th.section__header{
    width: 25%;
    /* justify-content: center; */
}
/* th{
    width: 43%;
} */

.section__header{
    width: 8 0%;
}

.section__row{
    border: 1px solid #F6F6F6;
    height: 5vh;
}

.header{
    height: 5vh;
    width: 100%;
    font-weight: bold;
    justify-content: space-evenly;
    
}

.profile{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
}

/* .sidebar-option{
    padding-bottom: 50%;
    color: white;
} */

